<div class="login-wrapper">
    <div class="login-contrainer">
        <h1>Chat Room</h1>
        <input type="text" [(ngModel)]="username" placeholder="Username" class="login-input">
        <input type="password" [(ngModel)]="password" placeholder="Password" class="login-input">
        <button  (click)="login()" type="submit" class="login-btn">Login</button>
        <div class="login-link">
            don't have an account? <a routerLink="/register">Register</a>
        </div>
    </div>
</div>
