<div class="dashboard-wrapper">
    <h1 class="white">
        Super Admin Dashboard
    </h1>
    <div class="modules-wrapper">
        <!-- Return to Chat Room -->
        <div class="module-card" routerLink="/chat">
            <i class="fas fa-arrow-left"></i>
            <h3>Return to Chat Room</h3>
        </div>

        <!-- Promote User -->
        <div class="module-card" (click)="openPromoteUserModal()">
            <i class="fas fa-user-plus"></i>
            <h3>Promote User</h3>
            <p>Upgrade a chat user to the Group Admin/Super Admin role.</p>
        </div>
    </div>

    <!-- Promote User Modal -->
    <div id="promoteUserModal" class="modal">
        <div class="modal-container">
            <div class="modal-content">
                <h2>Promote User</h2>
                <form (submit)="promoteUser()">
                    <div class="input-group">
                        <label for="user">Select User</label>
                        <select name="user" id="user" [(ngModel)]="selectedUserId">
                            <option *ngFor="let user of users" [value]="user._id">{{ user.username }}</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="role">Select Role</label>
                        <select name="role" id="role" [(ngModel)]="selectedRole">
                            <option value="Group Admin">Group Admin</option>
                            <option value="Super Admin">Super Admin</option>
                        </select>
                    </div>
                    <button type="submit" class="modal-btn">Promote</button>
                </form>
                <button (click)="closePromoteUserModal()" class="modal-btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
