<div class="chat-dashboard-wrapper">

  <!-- room list -->
  <div class="room-list">
      <h1>{{ title }}</h1>
      <div class="rooms">
        <div 
          *ngFor="let room of rooms" 
          (click)="joinRoom(room)" 
          class="room-item" 
          [ngClass]="{'active': room === currentRoom}"
        >
          {{ room }}
      </div>
      </div>
  </div>

  <!-- chat area -->
  <div class="chat-area">
      <div class="chat-header">
    
        <!-- Dropdown button -->
        <div class="dropdown">
          <button><i class="fas fa-cog"></i></button>
          <!-- Dropdown content -->
          <div class="dropdown-content">
              <a (click)="logout()">Logout</a>
              <a *ngIf="hasRole('User')" routerLink="/user">User Dashboard</a>
              <a *ngIf="hasRole('Super Admin')" routerLink="/superAdmin">Super Admin Dashboard</a>
              <a *ngIf="hasRole('Group Admin')" routerLink="/groupAdmin">Group Admin Dashboard</a>
          </div>
        </div>
      </div>
      <div class="messages">
          <div *ngFor="let message of messages[currentRoom]" class="message-wrapper">
            <div class="message-sender">{{ message.sender }}:</div>
            <div class="bubble">{{ message.content }}</div>
          </div>
      </div>
      <div class="input-area">
          <input [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Type your message...">
          <button (click)="sendMessage()">Send</button>
          <button *ngIf="currentRoom" (click)="gotoVideoRoom()" target="_blank">Join Video Room</button>
      </div>
  </div>
</div>
