<div class="video-room-wrapper">
    <!-- Local Video -->
    <div class="local-video">
        <video #myVideo autoplay></video>
    </div>
    
    <!-- Remote Videos -->
    <div class="remote-videos">
        <div *ngFor="let remoteVideo of remoteVideos" class="remote-video-wrapper">
            <video #videoElement [srcObject]="remoteVideo.stream" autoplay></video>
            <p>{{ remoteVideo.peerId }}</p>
        </div>
    </div>

    <!-- Display list of online users -->
    <div class="online-users-list">
        <h4>Online Users in Room:</h4>
        <ul>
            <li *ngFor="let user of onlineUsers">{{ user.username }}:{{ user.peerId }}</li>
        </ul>
    </div>
</div>



